# PANDAS I: SOLUCIONES A EJERCICIOS

Estos ejercicios te permitirán repasar y consolidar lo que has aprendido en el módulo de Pandas I.

No hagas los ejercicios hasta que hayas estudiado el contenido de su notebook.

Instrucciones:

* Crea una copia de este notebook antes de escribir nada. De esa forma respetarás el original para volver a hacerlo
* Cada ejercicio tiene unas instrucciones de lo que debes hacer en él
* Bajo las instrucciones estará una celda vacía, aquí es donde tú debes escribir la solución
* Y bajo esta última celda verás que hay otras dos celdas. La primera está vacía y no la debes tocar. Es para que tengas siempre a mano la solución al ejercicio, ya que esta no va a cambiar

In [1]:
#Te dejo creada la importación de los paquetes
#Simplemente ejecuta esa celda para que se cargen
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
#Y el dataframe
df = sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

## Ejercicio:

Comprueba cuantas filas va a mostrar este notebook por defecto.

In [3]:
pd.options.display.min_rows

10

## Ejercicio:

Cambialo para que solo muestre 6 por defecto. Y después saca df por consola para comprobarlo.

In [4]:
pd.options.display.min_rows = 6
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
..          ...   ...     ...    ...   ...     ...   ...
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

## Ejercicio:

Crea una Series a partir de:

* una lista
* un diccionario
* un array

Puedes inventarte los datos que quieras en cada uno de ellos

In [5]:
#A partir de lista
lista = ['Pedro','Maria','Ana']
pd.Series(lista)

0    Pedro
1    Maria
2      Ana
dtype: object

In [6]:
#A partir de diccionario
dicc = {0:'Pedro', 1:'Maria', 2:'Ana'}
pd.Series(dicc)

0    Pedro
1    Maria
2      Ana
dtype: object

In [7]:
#A partir de un array
vec = np.array(['Pedro','Maria','Ana'])
pd.Series(vec)

0    Pedro
1    Maria
2      Ana
dtype: object

## Ejercicio:

Crea un DataFrame a partir de:

* una lista
* un diccionario
* un array

Puedes inventarte los datos que quieras en cada uno de ellos

In [109]:
#A partir de lista
pd.DataFrame([['Pedro',25],['Maria',21],['Ana',39]],
             columns = ['Nombre','Edad'])

  Nombre  Edad
0  Pedro    25
1  Maria    21
2    Ana    39

In [110]:
#A partir de un diccionario
pd.DataFrame({'Nombre': ['Pedro','Maria','Ana'], 'Edad': [25,21,39]})

  Nombre  Edad
0  Pedro    25
1  Maria    21
2    Ana    39

In [111]:
#A partir de un array
pd.DataFrame(np.array([[1,2,3],[4,5,6]]))

   0  1  2
0  1  2  3
1  4  5  6

## Ejercicio:

Extrae la columna tip de nuestro df como una Serie, guárdala en un objeto llamado tip y sácala por consola.

In [112]:
tip = df.tip
tip

0      1.01
1      1.66
2      3.50
       ...
241    2.00
242    1.75
243    3.00
Name: tip, Length: 244, dtype: float64

## Ejercicio:

Comprueba el tipo de tip.

In [113]:
type(tip)

pandas.core.series.Series

## Ejercicio:

Transforma tip a un array de numpy, guárdalo en un objeto llamado vector y saca por pantalla solo los 10 primeros valores.

In [114]:
vector = tip.to_numpy()
vector[:10]

array([1.01, 1.66, 3.5 , 3.31, 3.61, 4.71, 2.  , 3.12, 1.96, 3.23])

## Ejercicio:

Transforma tip a un DataFrame y sácalo por pantalla.

In [115]:
tip.to_frame()

      tip
0    1.01
1    1.66
2    3.50
..    ...
241  2.00
242  1.75
243  3.00

[244 rows x 1 columns]

## Ejercicio:

Ahora extrae la columna tip de nuestro df como un DataFrame, guárdala en un objeto llamado tip_df y sácalo por consola.

In [116]:
tip_df = df[['tip']]
tip_df

      tip
0    1.01
1    1.66
2    3.50
..    ...
241  2.00
242  1.75
243  3.00

[244 rows x 1 columns]

## Ejercicio:

Transforma tip_df a una Serie

In [117]:
tip_df.tip

0      1.01
1      1.66
2      3.50
       ...
241    2.00
242    1.75
243    3.00
Name: tip, Length: 244, dtype: float64