# PANDAS IV: EJERCICIOS

Estos ejercicios te permitirán repasar y consolidar lo que has aprendido en el módulo de Pandas IV.

No hagas los ejercicios hasta que hayas estudiado el contenido de su notebook.

Instrucciones:

* Crea una copia de este notebook antes de escribir nada. De esa forma respetarás el original para volver a hacerlo
* Cada ejercicio tiene unas instrucciones de lo que debes hacer en él
* Bajo las instrucciones estará una celda vacía, aquí es donde tú debes escribir la solución
* Y bajo esta última celda verás que hay otras dos celdas. La primera está vacía y no la debes tocar. Es para que tengas siempre a mano la solución al ejercicio, ya que esta no va a cambiar

In [2]:
#Te dejo creada la importación de los paquetes
import pandas as pd

Esta práctica consiste en analizar la calidad de datos de un dataset que contiene los accidentes de tráfico en Madrid durante 2020.

Está en Excel, se llama 2020_Accidentalidad.xlsx.

En una situación real irías apuntando todo lo que te pareciera extraño o erróneo de los resultados de estos análisis para correjirlo después con las técnicas que aprenderemos en el siguiente módulo.

## Ejercicio:

Importa el archivo en el objeto df y visualizalo por pantalla.

In [10]:
#No tocar, es para que veas la solución

,Nº EXPEDIENTE,FECHA,HORA,CALLE,NÚMERO,DISTRITO,TIPO ACCIDENTE,ESTADO METEREOLÓGICO,TIPO VEHÍCULO,TIPO PERSONA,RANGO DE EDAD,SEXO,LESIVIDAD*,Unnamed: 13,Unnamed: 14
0,2020S000057,2020-01-01,23:15:00,AVDA. CIUDAD DE BARCELONA / CALL. DOCTOR ESQUERDO,-,RETIRO,Choque contra obstáculo fijo,Despejado,Turismo,Conductor,DE 25 A 29 AÑOS,Hombre,NaN,NaN,NaN
1,2020S000038,2020-01-01,22:35:00,CALL. VALLE DE TORANZO / CALL. SIERRA DE PAJAREJO,-,MONCLOA-ARAVACA,Caída,Despejado,Ciclomotor,Conductor,DE 21 A 24 AÑOS,Mujer,6.0,NaN,NaN
2,2020S000060,2020-01-01,20:15:00,GTA. MARIANO SALVADOR MAELLA,1,FUENCARRAL-EL PARDO,Caída,Despejado,Turismo,Conductor,DE 45 A 49 AÑOS,Hombre,14.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28770,2020S017328,2020-11-30,00:30:00,CALL. MARCELO USERA,36,USERA,Alcance,NaN,Turismo,Conductor,DE 30 A 34 AÑOS,Hombre,NaN,NaN,NaN
28771,2020S017328,2020-11-30,00:30:00,CALL. MARCELO USERA,36,USERA,Alcance,NaN,Turismo,Pasajero,DE 21 A 24 AÑOS,Hombre,NaN,NaN,NaN
28772,2020S017328,2020-11-30,00:30:00,CALL. MARCELO USERA,36,USERA,Alcance,NaN,Turismo,Conductor,DESCONOCIDA,NaN,NaN,NaN,NaN

## Ejercicio:

¿Cuanto espacio en memoria está ocupando este dataset?

In [ ]:
#No tocar, es para que veas la solución

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28773 entries, 0 to 28772
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Nº  EXPEDIENTE        28773 non-null  object
 1   FECHA                 28773 non-null  datetime64[ns]
 2   HORA                  28773 non-null  object
 3   CALLE                 28773 non-null  object
 4   NÚMERO                28771 non-null  object
 5   DISTRITO              28771 non-null  object
 6   TIPO ACCIDENTE        28740 non-null  object
 7   ESTADO METEREOLÓGICO  25964 non-null  object
 8   TIPO VEHÍCULO         28633 non-null  object
 9   TIPO PERSONA          28746 non-null  object
 10  RANGO DE EDAD         28773 non-null  object
 11  SEXO                  25398 non-null  object
 12  LESIVIDAD*            15718 non-null  float64
 13  Unnamed: 13           0 non-null      float64
 14  Unnamed: 14           1 non-null      object
dtypes: datetime64[ns](1), float64(2), object(12)
memory usage: 20.0 MB

BUEN TRABAJO!!!

## Ejercicio:

¿Cuantas filas y columnas tiene?

In [12]:
#No tocar, es para que veas la solución

(28773, 15)

## Ejercicio:

¿Tiene índice ya asignado?¿O es el automático?

In [13]:
#No tocar, es para que veas la solución

RangeIndex(start=0, stop=28773, step=1)

## Ejercicio:

Asigna 'Nº  EXPEDIENTE' columna como el índice.

In [17]:
#No tocar, es para que veas la solución

## Ejercicio:

Extrae los nombres de las variables como una lista

In [22]:
#No tocar, es para que veas la solución

['FECHA',
 'HORA',
 'CALLE',
 'NÚMERO',
 'DISTRITO',
 'TIPO ACCIDENTE',
 'ESTADO METEREOLÓGICO',
 'TIPO VEHÍCULO',
 'TIPO PERSONA',
 'RANGO DE EDAD',
 'SEXO',
 'LESIVIDAD*',
 'Unnamed: 13',
 'Unnamed: 14']

## Ejercicio:

Comprueba los tipos de las variables

In [23]:
#No tocar, es para que veas la solución

FECHA                   datetime64[ns]
HORA                            object
CALLE                           object
NÚMERO                          object
DISTRITO                        object
TIPO ACCIDENTE                  object
ESTADO METEREOLÓGICO            object
TIPO VEHÍCULO                   object
TIPO PERSONA                    object
RANGO DE EDAD                   object
SEXO                            object
LESIVIDAD*                     float64
Unnamed: 13                    float64
Unnamed: 14                     object
dtype: object

## Ejercicio:

Como la mayoría son objetos haz una visión global de estadísticos que incluya solo las tipo objeto

In [27]:
#No tocar, es para que veas la solución

                      count unique                      top   freq
HORA                  28773    976                 15:30:00    288
CALLE                 28773   6988        PASEO. CASTELLANA    336
NÚMERO                28771    470                        -  15323
DISTRITO              28771     21       PUENTE DE VALLECAS   2358
TIPO ACCIDENTE        28740     13  Colisión fronto-lateral   7044
ESTADO METEREOLÓGICO  25964      7                Despejado  22092
TIPO VEHÍCULO         28633     34                  Turismo  19490
TIPO PERSONA          28746      3                Conductor  23519
RANGO DE EDAD         28773     18              DESCONOCIDA   3513
SEXO                  25398      2                   Hombre  17444
Unnamed: 14               1      1                        ,      1

## Ejercicio:

Comprueba si hay algún duplicado en el dataset

In [28]:
#No tocar, es para que veas la solución

1313

## Ejercicio:

Muestra los duplicados sacando todas las repeteciones de cada uno.

In [29]:
#No tocar, es para que veas la solución

,FECHA,HORA,CALLE,NÚMERO,DISTRITO,TIPO ACCIDENTE,ESTADO METEREOLÓGICO,TIPO VEHÍCULO,TIPO PERSONA,RANGO DE EDAD,SEXO,LESIVIDAD*,Unnamed: 13,Unnamed: 14
Nº EXPEDIENTE,,,,,,,,,,,,,,
2020S000061,2020-01-01,15:50:00,AVDA. VIRGEN DEL CARMEN,1,HORTALEZA,Colisión fronto-lateral,Despejado,Turismo,Conductor,DESCONOCIDA,NaN,NaN,NaN,NaN
2020S000061,2020-01-01,15:50:00,AVDA. VIRGEN DEL CARMEN,1,HORTALEZA,Colisión fronto-lateral,Despejado,Turismo,Conductor,DESCONOCIDA,NaN,NaN,NaN,NaN
2020S000061,2020-01-01,15:50:00,AVDA. VIRGEN DEL CARMEN,1,HORTALEZA,Colisión fronto-lateral,Despejado,Turismo,Conductor,DESCONOCIDA,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020S017670,2020-11-30,22:35:00,CALL. TORRECILLA DEL PUERTO / CALL. ARTURO SORIA,-,CIUDAD LINEAL,Choque contra obstáculo fijo,Despejado,Turismo,Conductor,DESCONOCIDA,NaN,NaN,NaN,NaN
2020S017670,2020-11-30,22:35:00,CALL. TORRECILLA DEL PUERTO / CALL. ARTURO SORIA,-,CIUDAD LINEAL,Choque contra obstáculo fijo,Despejado,Turismo,Conductor,DESCONOCIDA,NaN,NaN,NaN,NaN
2020S017670,2020-11-30,22:35:00,CALL. TORRECILLA DEL PUERTO / CALL. ARTURO SORIA,-,CIUDAD LINEAL,Choque contra obstáculo fijo,Despejado,Turismo,Conductor,DESCONOCIDA,NaN,NaN,NaN,NaN

## Ejercicio:

Calcula, dentro de los duplicados, cuantas veces está duplicado cada expediente.

In [31]:
#No tocar, es para que veas la solución

2020S007629    18
2020S007552    14
2020S005796    10
               ..
2020S014760     1
2020S015426     1
2020S015365     1
Name: Nº  EXPEDIENTE, Length: 941, dtype: int64

## Ejercicio:

¿Cual es la calle en la que ha habido más accidentes?

In [33]:
#No tocar, es para que veas la solución

0    PASEO. CASTELLANA
dtype: object

## Ejercicio:

Hay una variable 'Unnamed: 14', que la reconoce como objeto y nos decía que solo tiene un valor. Explorar sus frecuencias

In [34]:
#No tocar, es para que veas la solución

,    1
Name: Unnamed: 14, dtype: int64

## Ejercicio:

Haz un análisis de nulos a ver cuantos tenemos por variable.

In [36]:
#No tocar, es para que veas la solución

Unnamed: 13             28773
Unnamed: 14             28772
LESIVIDAD*              13055
SEXO                     3375
ESTADO METEREOLÓGICO     2809
TIPO VEHÍCULO             140
TIPO ACCIDENTE             33
TIPO PERSONA               27
NÚMERO                      2
DISTRITO                    2
FECHA                       0
HORA                        0
CALLE                       0
RANGO DE EDAD               0
dtype: int64

## Ejercicio:

Calcula el máximo, minimo, media y mediana de LESIVIDAD*

In [42]:
#No tocar, es para que veas la solución

Maximo:  77.0
Mínimo:  1.0
Media:  9.835856979259448
Mediana:  14.0

BUEN TRABAJO!!!